// GRID
$grid-width: 144rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;

// COLORS
$color-primary-2: #14a79d;
$color-primary-2-dark: #12a79c;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: rgb(136, 133, 133);
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #0000;

// FONT
$default-font-size: 1.6rem;

// new colors
$color-even-section: #fffafa;
$color-odd-section: #efefef;
$color-blue-dark: #34455c;

// $navsize: 50px;
// $color: #9466ff;
// $mg: 40px;

$color-cyan-light: #0087C1;
$color-cyan-dark: #1bafb9;



// Chat bot
$blue: #007FEF;

$chatWidth: 25rem;
$chatInputWidth: $chatWidth;
$chatBackground: #F5F7F9;
$chatInputHeight: 5rem;
$chatInputInnerHeight: $chatInputHeight - 2rem;
