<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saksham Homoeopathy </title>
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <!-- FONT ASWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS  -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" type="image/png" href="assets/logo.png">
    <!-- BOOSTRAP 5 CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- FOOTER -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://icons8.com/icon/rZwnRdJyYqRi/google-play">
    <link rel="stylesheet" href="https://icons8.com/icon/xWVjuc9hryql/twitter">
    <link rel="stylesheet" href="https://icons8.com/icon/118497/facebook"> -->
    
    <style>
      
    </style>
</head>

<body >
    <!-- <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up"></i></button> -->
    <div class="navigation hamburger">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list mob-ul">
                <li class="navigation__item"><a href="index.html" class="navigation__link"><span>01</span>Home</a></li>
                <li class="navigation__item"><a href="gallery.html" class="navigation__link"><span>02</span>Gallery</a></li>
                <li class="navigation__item"><a href="#book" class="navigation__link"><span>03</span>Book</a></li>
                <li class="navigation__item"><a href="#blogs" class="navigation__link"><span>04</span>Blog</a></li>
                <li class="navigation__item"><a href="contact.html" class="navigation__link"><span>05</span>Contact</a></li>
                <li class="navigation__item"><a href="about.html" class="navigation__link"><span>06</span>About</a></li>
                
            </ul>
        </nav>
    </div>
    <header class="header">
        <div class="container-fluid change-pd"> 
            <div class="row navigation ">
              <div class="col-4 hide-mob-seven navigation__left" id="changeBg">
               <div class="logo-box">
                <img src="assets/new-logo.png" alt="" class="img-fluid header-logo">
                <a class="navbar-brand fs-4 text-white fw-bolder" href="#">Saksham Homoeopathy</a>
               </div>
               <div class="div-center">
                <h1 class="div-center__one">Holistic.</h1>
                <h1 class="div-center__two" >Scientific.</h1>
                <h1 class="div-center__three">Safest</h1>
                </div>
              </div>
              <div class="col-8 mob-width-seven navigation__middle p-0">
                  <div class="navigation__middle-top">
                <ul class="nav justify-content-center align-items-center nav-mob-ul p-0">
                    <li class="nav-item">
                      <a class="nav-link active home" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#book">Book</a>
                    </li>   
                    <li class="nav-item">
                      <a class="nav-link " href="about.html" tabindex="-1" aria-disabled="true">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="contact.html" tabindex="-1" aria-disabled="true">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="  nav-link  login-btn text-white" href="#login">Login</a>
                      </li>
                      <!-- <div class="box">
                        <form name="search">
                            <input type="text" class="input" name="txt" 
                            onmouseout="document.search.txt.value = ''">
                        </form>
                            <i class="fas fa-search"></i>
                    </div> -->
                  </ul>
                </div>
    
                <div class="navigation__middle-bottom p-3">
                  <h1 class=" heading-main display-1 new-heading-style p-3">Saksham Homoeopathic Clinic</h1>
                  <div class="parent-p container-fluid ">
                      <div class="row ">
                        <div class="col-sm">
                          <hr class="header-hr mx-3">
                        </div>
                        <div class="col-10 ">
                          <p class="lead responsive-width header-p">
                            At Saksham Homoeopathic Clinic,we are keen in providing our patients Holistic treatment i.e.Homoeopathic treatment along with yoga, diet and nutrition, acupressure ,importance of healthy habits as per need of the case.
                        </p>
                        </div>
                      </div>
                    </div>
                </div>
                
                  <div class="container-fluid p-0 set-bottom-style">
                    <div class="row my-row">
                      <div class="col-sm col-head-left ">
                        <h1 class=" heading-main display-6  p-3">Health in a box</h1>
                        <p class="sub-title muted">A beautiful medicine chest designed specially for you.</p>
                        <p class="lead w-75  ">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eius repellat.
                          </p>
                      </div>
                      <div class="col-sm col-head-right p-0">
                        <img src="assets/chest.jpg " class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
              </div>
              <!-- <div class="col navigation__right">
                Column
              </div> -->
            </div>
          </div>
    
    
    </header>
    

    <main>
      
        <!-- SECTION- Service section -->
        <section class="section-service u-padding" id="service">
            <div class="u-center-text u-margin-bottom-small green-hr">
                <h2 class="heading-secondary">
                    Services We Offer
                </h2>
               
            </div>

            <div class="row service-cards" >
                <div class="col d-flex justify-content-center ">
                    <div class="service-box card" style="width: 22rem;">
                        <div class="card-body card__main card-1">
                        <i class=" service-box__icon icon-basic-world fas fa-hospital-symbol"></i>

                        <h3 class="heading-tertiary u-margin-bottom-small">
                            SAFE & HOLISTIC TREATMENT
                        </h3>
                        <p class="service-box__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, laboriosam. 
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="service-box card " style="width: 22rem;">
                        <div class="card-body card__main card-2">
                        <i class=" service-box__icon icon-basic-map fas fa-file-signature"></i>

                        <h3 class="heading-tertiary u-margin-bottom-small">
                            DOCTOR CONSULTATION
                        </h3>
                        <p class="service-box__text">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quia.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="service-box card "  style="width: 22rem;">
                        <div class="card-body card__main card-3">
                        <i class="  service-box__icon icon-basic-heart fas fa-stethoscope"></i>

                        <h3 class="heading-tertiary u-margin-bottom-small">
                            ONLINE APPOINTMENTS
                        </h3>
                        <p class="service-box__text">
                            Your doctor is text away.
                        </p>
                    </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- SECTION - benefits -->
        <section class="section-benefit">
            <div class="com">
               
                <div class="com__content one">
                    <h2 class="benefit-heading text-center">Benefits of Homoeopathy</h2>
                    <section class="com__section com__section--text ">
                        <h1 class="animate slideInLeft ">Prompt Relief</h1>
                        <p class="animate slideInLeft delay-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Optio ipsam deserunt velit voluptate enim, magni tempora commodi laboriosam explicabo,
                            delectus sequi autem illum porro aliquam esse fuga animi cum iusto?</p>
                    </section>
                    <section class="com__section com__section--text com__section--text-img two">
                        <div class="com__section-half">
                            <h1 class="animate slideInLeft">Zero Side Effets</h1>
                            <p class="animate slideInLeft delay-2">Lorem ipsum dolor sit amet consectetur, adipisicing
                                elit. Amet omnis, minus non ipsum impedit distinctio, totam reiciendis eveniet
                                recusandae in inventore quia dolorum ut! Dolores repellendus delectus accusamus eos
                                laborum.</p>
                        </div>
                        <div class="com__section-half">
                            <img class="animate slideInRight delay-3"
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
                        </div>
                    </section>
                    <section class="com__section com__section--text centered">
                        <h1 class="animate scaleIn">Easy Access</h1>
                        <img class="animate scaleIn delay-3"
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
                    </section>
                    <section class="com__section com__section--text">
                        <h1 class="animate slideInLeft ">Easy Dose Administration</h1>
                        <p class="animate slideInLeft delay-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Eum laboriosam nihil mollitia dolor quia ducimus quaerat velit asperiores quisquam magnam?
                        </p>
                    </section>
                    <section class="com__section com__section--text com__section--text-img">
                        <div class="com__section-half">
                            <h1 class="animate slideInLeft">Low Convalescing Time</h1>
                            <p class="animate slideInLeft delay-2">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Saepe repellendus rem exercitationem provident architecto corrupti expedita fugiat
                                ut omnis tempora?</p>
                        </div>
                        <div class="com__section-half">
                            <img class="animate slideInRight delay-3"
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
                        </div>
                    </section>
                    <section class="com__section com__section--text centered">
                        <h1 class="animate scaleIn">Freedom From Hospitalization</h1>
                        <img class="animate scaleIn delay-3"
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
                    </section>
                    <section class="com__section com__section--text">
                        <h1 class="animate slideInLeft ">Say No to Just symptomatic Relief</h1>
                        <p class="animate slideInLeft delay-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Accusamus harum magni nisi soluta dolor quis ipsa modi animi ipsam ducimus.</p>
                    </section>
                    <section class="com__section com__section--text">
                        <h1 class="animate slideInLeft ">Eliminate Root Cause & Tone Up Constitution</h1>
                        <p class="animate slideInLeft delay-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Accusamus harum magni nisi soluta dolor quis ipsa modi animi ipsam ducimus.</p>
                    </section>
                    <section class="com__section com__section--text com__section--text-img">
                        <div class="com__section-half">
                            <h1 class="animate slideInLeft">Zero Commuting Cost To & From Clinic & Chemist</h1>
                            <p class="animate slideInLeft delay-2">Lorem ipsum dolor sit amet consectetur adipisicing
                                elit. Saepe repellendus rem exercitationem provident architecto corrupti expedita fugiat
                                ut omnis tempora?</p>
                        </div>
                        <div class="com__section-half">
                            <img class="animate slideInRight delay-3" src="assets/relief.svg" alt="" />
                        </div>
                    </section>
                </div>
                <nav class="com__nav">
                    <ul class="com__nav-list">
                        <li class="com__nav-item  d-flex justify-content-center align-items-center"><span class="on-box">01</span> 
                            <a href="" class="com__nav-link"> 
                                <span class="ben-num">01</span>
                                <span class="blue-line animate scaleInLeft delay-2"></span>
                                <span class="white-line animate scaleInLeft delay-4"></span>
                                <span class="white-line animate scaleInLeft delay-5"></span>
                            </a>
                        </li>
                        <li class="com__nav-item d-flex justify-content-center align-items-center"><span class="on-box">02</span> 
                            <a href="" class="com__nav-link flex-row">
                                <div class="com__section-half">
                                    <span class="ben-num">02</span>
                                    <span class="blue-line animate scaleInLeft delay-3"></span>
                                    <span class="white-line animate scaleInLeft delay-4"></span>
                                    <span class="white-line animate scaleInLeft delay-5"></span>
                                </div>

                            </a>
                        </li>
                        <li class="com__nav-item d-flex justify-content-center align-items-center"><span class="on-box">03</span> 
                            <a href="" class="com__nav-link">
                                <span class="ben-num">03</span>
                                <span class="blue-line animate scaleInLeft delay-2"></span>
                                <span class="white-line animate scaleInLeft delay-4"></span>
                                <span class="white-line animate scaleInLeft delay-5"></span>
                            </a>
                        </li>
                        <li class="com__nav-item d-flex justify-content-center align-items-center"><span class="on-box">04</span> 
                            <a href="" class="com__nav-link">
                                <span class="ben-num">04</span>
                                <span class="blue-line animate scaleInLeft delay-2"></span>
                                <span class="white-line animate scaleInLeft delay-4"></span>
                                <span class="white-line animate scaleInLeft delay-5"></span>
                            </a>
                        </li>
                        <li class="com__nav-item d-flex justify-content-center align-items-center"><span class="on-box">05</span> 
                            <a href="" class="com__nav-link flex-row">
                                <div class="com__section-half">
                                    <span class="ben-num">05</span>
                                    <span class="blue-line animate scaleInLeft delay-3"></span>
                                    <span class="white-line animate scaleInLeft delay-4"></span>
                                    <span class="white-line animate scaleInLeft delay-5"></span>
                                </div>

                            </a>
                        </li>
                        <li class="com__nav-item d-flex justify-content-center align-items-center"><span class="on-box">06</span> 
                            <a href="" class="com__nav-link">
                                <span class="ben-num">06</span>
                                <span class="blue-line animate scaleInLeft delay-2"></span>
                                <span class="white-line animate scaleInLeft delay-4"></span>
                                <span class="white-line animate scaleInLeft delay-5"></span>
                            </a>
                        </li>
                        <li class="com__nav-item d-flex justify-content-center align-items-center"><span class="on-box">07</span> 
                            <a href="" class="com__nav-link">
                                <span class="ben-num">07</span>
                                <span class="blue-line animate scaleInLeft delay-2"></span>
                                <span class="white-line animate scaleInLeft delay-4"></span>
                                <span class="white-line animate scaleInLeft delay-5"></span>
                            </a>
                        </li>
                        <li class="com__nav-item d-flex justify-content-center align-items-center"><span class="on-box">08</span> 
                            <a href="" class="com__nav-link">
                                <span class="ben-num">08</span>
                                <span class="blue-line animate scaleInLeft delay-2"></span>
                                <span class="white-line animate scaleInLeft delay-4"></span>
                                <span class="white-line animate scaleInLeft delay-5"></span>
                            </a>
                        </li>
                        <li class="com__nav-item d-flex justify-content-center align-items-center"><span class="on-box">09</span> 
                            <a href="" class="com__nav-link flex-row">
                                <div class="com__section-half">
                                    <span class="ben-num">09</span>
                                    <span class="blue-line animate scaleInLeft delay-3"></span>
                                    <span class="white-line animate scaleInLeft delay-4"></span>
                                    <span class="white-line animate scaleInLeft delay-5"></span>
                                </div>

                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- 
            <a href="http://ettrics.com/code/material-design-slider-animation/" class="logo" target="_blank">
                <img class="logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
            </a> -->


        </section>
        <!-- SECTION- why choose us section -->
        <section class="section-choose u-padding statistics-section" id="counter">
            <div class="u-center-text u-margin-bottom-medium green-hr">
                <h2 class="heading-secondary">
                    Why Choose Us
                </h2>
               
            </div>


            <div class="row row-choose">
                <div class="col text-center ">
                    <div class="stastic">
                        <i class="fa-5x service-box__icon fas fa-hand-holding-heart"></i>
                        <br>
                        <br>
                        <br>
                        <h4> <span class="counter">25000</span> + </h4>
                        <p>Happy Patients</p>
                    </div>
                </div>
                <div class="col text-center ">
                    <div class="stastic">
                        <i class=" fa-5x  service-box__icon fas fa-hospital"></i>
                        <br>
                        <br>
                        <br>
                        <h4><span class="counter">25</span> +</h4>
                        <p>Years Experience</p>
                    </div>
                </div>
                <div class="col text-center ">
                    <div class="stastic">
                        <i class=" fa-5x fas service-box__icon fa-globe"></i>
                        <br>
                        <br>
                        <br>
                        <h4 class="counter percent">6</h4>
                        <p>Continents</p>
                    </div>
                </div>

                <div class="col  text-center">
                    <div class="stastic">
                        <i class=" fa-5x fas service-box__icon fa-award"></i>
                        <br>
                        <br>
                        <br>
                        <h4 class="counter percent">3</h4>
                        <p>Awards</p>
                    </div>
                </div>
            </div>

        </section>
        <!-- SECTION- Gallery section -->
        <section class="section-gallery">
            <div class="introcontainer">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="cards">
                        <div class="card  Card ong">
                          <img src="assets/g-3.JPG"/>
                          <div class="text">
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="cards">
                        <div class="card  Card two">
                          <img src="assets/g-2.JPG" alt="" />
                        <div class="text">
                            </div>
                      </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="cards">
                        <div class=" card Card three">
                          <img src="assets/g-1.JPG" alt="" />
                          <div class="text">
                            </div>
                      </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="cards">
                        <div class=" card Card four">
                          <img src="assets/g-4.JPG" alt="" />
                          <div class="text">
                            </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                   <div class="swiper-arrows">
                  <div class="swiper-button-prev"><span></span></div>
                  <div class="swiper-button-next"><span></span></div>
                </div>
                </div>
              </div>
        </section>
          <!-- SECTION- Our testimonial section -->
          <section id="testim" class="testim section-testimonial u-margin-top-huge ">
           
            <!--         <div class="testim-cover"> -->
            <div class="wrap">
                <div class="u-center-text u-margin-bottom-medium green-hr">
                    <h2 class="heading-secondary">
                       What our patients say
                    </h2>
                  
                </div>
                <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                <ul id="testim-dots" class="dots">
                    <li class="dot active"></li>
                    <!--
                        -->
                    <li class="dot"></li>
                    <!--
                        -->
                    <li class="dot"></li>
                    <!--
                        -->
                    <li class="dot"></li>
                    <!--
                        -->
                    <li class="dot"></li>
                     <!--
                        -->
                    <li class="dot"></li>
                       
                </ul>
                <div id="testim-content" class="cont">


                    <div class="active">

                        <h2>Ms. Astha Khilwani</h2>
                        <p>Thank you is a small word for Dr. Shivangi ... She helped my mom come out safe after a severe
                            bout of covid and its after effects. Today my entire family is under her guidance.</p>
                    </div>

                    <div>

                        <h2>Ms. Anita Mehta</h2>
                        <p>I have been consulting Dr Shubhangi for almost 10 years now. My children have battled severe
                            allergies, viral fevers, dengue etc and have relied completely on her medication for
                            recovery.
                            In November 2020 when I tested positive for covid, I consulted her and took her medications
                            only for a complete recovery.
                            Dr Shubhangi is readily available on phone and very responsive. I have communicated with her
                            at odd hours in the night when my children have had high temperatures and she has been very
                            committed.
                            Her approach towards treatment is holistic in nature, focusing not only on the right
                            medication but also on the right diet and a heathy exercise routine.
                            She has become the go-to person for any ailment in my family and I can't thank her enough in
                            helping me ensure that my family stays healthy.</p>
                    </div>

                    <div>

                        <h2>Laura Semons</h2>
                        <p>My father was in severe stomach pain. He was admitted to hospital. Had lots of tests and
                            medication but nothing helped. Yesterday evening around 8 pm we contacted Dr Shubhangi. She
                            very patiently and carefuly listened all the problems . And suggested some medication from
                            the kit. And by 3 Am my father was feeling much much better. He didn't take food for last 3
                            days and suddenly he was asking for food at 4 am. It is not less than miracle for us</p>
                    </div>

                    <div>

                        <h2>Ms. Sadhana Sancheti</h2>
                        <p>I am from Pune. I got her reference from my colleague. I had the problems of back pain and
                            with sleep in nights. She diagnosed me over phone. Got results . Thankyou Dr. Shubhangi.</p>
                    </div>

                    <div>

                        <h2>Mr. Sandesh Pokharna</h2>
                        <p>I had the problem of Aasthama. I got results after treatment. Feeling lot better now.
                            And fair charges also.
                            One more thing good about doc is she took care of patients untill he is fully cured</p>
                    </div>
                    <div>

                        <h2>Anonymous</h2>
                        <p>I had the problem of Aasthama. I got results after treatment. Feeling lot better now.
                            And fair charges also.
                            One more thing good about doc is she took care of patients untill he is fully cured</p>
                    </div>

                </div>

            </div>
            <!--         </div> -->
        </section>
        <!-- SECTION- Booking section -->
        <section class="section-book u-padding " id="book">
            <div class="row">
                <div class="book">
                    <div class="book__form">
                        <form action="/appointment" class="form" autocomplete="off" method="POST">
                            <div class=" u-margin-bottom-small u-mt">
                                <h2 class="heading-secondary">
                                    Book now!
                                </h2>
                            </div>
                            <div class="form__group  u-margin-bottom-small">
                                <input type="text" class="form__input" placeholder="Full Name" id="name" name="patient_name" required>
                                <label for="name" class="form__label">Full Name</label>
                            </div>

                            <div class="form__group">
                                <input type="email" class="form__input" placeholder="Email address" id="email" name="patient_email" required>
                                <label for="name" class="form__label">Email address</label>
                            </div>

                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Phone Number" id="email" name="patient_phone" required>
                                <label for="name" class="form__label">Phone Number</label>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Age" id="age" name="patient_age" required>
                                <label for="name" class="form__label">Age</label>
                            </div>

                            <div class="form__group">
                                <input class="form__input" name="appointment_date" type="date" value="10-12-2021" >
                                
                            </div>
                            <!-- <div class="form__group mt-4">
                                <input class="form__input" type="time" id="appt" name="appointment_time">
                            </div> -->
                            <div class="form__group mt-4">
                                <div class="form__radio-group">
                                    <input type="radio" class="form__radio-input" id="small" name="size">
                                    <label for="small" class="form__radio-label">
                                        <span class="form__radio-button"></span>
                                        Male
                                    </label>
                                </div>
                                <div class="form__radio-group">
                                    <input type="radio" class="form__radio-input" id="large" name="size">
                                    <label for="large" class="form__radio-label">
                                        <span class="form__radio-button"></span>
                                      Female
                                    </label>
    
                                </div>
                            </div>
                           
                            <div class="form__group">
                                <button class="btn btn--green nav-link buttons btn login-btn text-white p u-margin-top-small" type="submit">Book &rarr;</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- SECTION- Booking mob section -->
        <section class="section-book-mob u-padding " id="book">
            <div class="row set-width-new">
                <div class=" book book-mob">
                    <div class="book__form book-mob__form">
                        <form action="#" class="form" autocomplete="off">
                            <div class=" u-margin-bottom-small u-mt">
                                <h2 class="heading-secondary">
                                    Book now!
                                </h2>
                            </div>
                            <div class="form__group  u-margin-bottom-small">
                                <input type="text" class="form__input" placeholder="Full Name" id="name" name="patient_name" required>
                                <label for="name" class="form__label">Full Name</label>
                            </div>

                            <div class="form__group">
                                <input type="email" class="form__input" placeholder="Email address" id="email" name="patient_email" required>
                                <label for="name" class="form__label">Email address</label>
                            </div>

                            <div class="form__group">
                                <input type="email" class="form__input" placeholder="Phone number" id="email" name="patient_phone" required>
                                <label for="name" class="form__label">Phone number</label>
                            </div>
                            <div class="form__group">
                                <input type="text" class="form__input" placeholder="Age" id="age" name="patient_age" required>
                                <label for="name" class="form__label">Age</label>
                            </div>
                            <div class="form__group">
                                <input class="form__input" placeholder="date" name="appointment_date" type="date">
                            </div>
                            <div class="form__group mt-4">
                                <input class="form__input" placeholder="Time" name="appointment_time" type="time" id="appt" name="appt">
                            </div>
                            <div class="form__group mt-4">
                                <div class="form__radio-group">
                                    <input type="radio" class="form__radio-input" id="small" name="size">
                                    <label for="small" class="form__radio-label">
                                        <span class="form__radio-button"></span>
                                        Male
                                    </label>
                                </div>
                                <div class="form__radio-group">
                                    <input type="radio" class="form__radio-input" id="large" name="size">
                                    <label for="large" class="form__radio-label">
                                        <span class="form__radio-button"></span>
                                      Female
                                    </label>
    
                                </div>
                            </div>
                            <div class="form__group">
                                <button class="btn btn--green buttons nav-link btn login-btn text-white p u-margin-top-small" type="submit">Book &rarr;</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- SECTION - Blog section -->
        <section class="section-blog u-padding" id="blogs">
            <div class="u-center-text u-margin-bottom-medium green-hr">
                <h2 class="heading-secondary">
                   Health Bites
                </h2>
              
            </div>
            <div class="container">
                <div class="row">
                    <div class="col d-flex justify-content-center blog-box">
                        <div class="card card-blog blog-1" style="width: 20rem;">
                            <img src="assets/pepper.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's content.</p>
                                    <button class="btn btn--green nav-link btn login-btn text-white p u-margin-top-small" type="submit">Read more &rarr;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center blog-box">
                        <div class="card card-blog" style="width: 20rem;">
                            <img src="assets/covid.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's content.</p>
                                    <button class="btn btn--green nav-link btn login-btn text-white p u-margin-top-small" type="submit">Read more &rarr;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center blog-box">
                        <div class="card card-blog" style="width: 20rem;">
                            <img src="assets/cumin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the
                                    card's content.</p>
                                    <button class="btn btn--green nav-link  login-btn text-white p u-margin-top-small" type="submit">Read more &rarr;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="u-center-text u-margin-top-small ">
                <button class="  nav-link btn login-btn buttons text-white p" type="submit">Discover more &rarr;</button>
            </div>

        </section>
    </main>

    <!-- SECTION- Footer -->
    <footer class="footer-section">
        <!-- Whatsapp Icon -->
        <div class=" d-flex justify-content-end wtsap">
           <button id="whatsapp"> <a href="https://wa.me/+919871794369/?text=Hello, I have a query"><i class="fa-2x fab fa-whatsapp"></i></a></button>
         </div>
          <!-- Chatbot -->
        <div class=" d-flex justify-content-end bot ">
           <button id="chatbot"> <a href="#"><img class="bot-img" src="assets/bot.png" alt="bot" srcset=""></a></button>
         </div>
       <div class="container">
           <div class="footer-cta  pt-5 pb-5">
               <div class="row  justify-content-center">
                   <div class="col-xl-3 col-md-3 mb-30">
                       <div class="single-cta">
                           <i class="fas fa-map-marker-alt"></i>
                           <div class="cta-text">
                               <h4>Find us</h4>
                               <span>308, Sector 22A</span>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-4 col-md-4 mb-30">
                       <div class="single-cta">
                           <i class="fas fa-phone"></i>
                           <div class="cta-text">
                               <h4>Call us</h4>
                               <span>+91 8412034567, +91 8412004567 </span>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-md-3 mb-30">
                       <div class="single-cta">
                           <i class="far fa-envelope-open"></i>
                           <div class="cta-text">
                               <h4>Mail us</h4>
                               <span>Sakshamcure@gmail.com</span>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="footer-content pt-5 pb-5">
               <div class="row justify-content-center">
                   <div class="col-xl-3 col-lg-3 mb-50">
                       <div class="footer-widget">
                           <div class="footer-logo">
                               <a href="index.html"><img src="assets/new-logo.png" class="img-fluid" alt="logo"></a>
                           </div>
                           <div class="footer-text">
                               <p>The holistic approach to treat your health issue whether physical or mental. Dr.
                                   Shubhangi has more than 25 years of experience in the field of Homoeopathy and
                                   holistic treatment. </p>
                           </div>
                           <div class="footer-social-icon">
                               <span>Follow us</span>
                               <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                               <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                               <a href="#"><i class="fab fa-instagram insta-bg"></i></a>
                               <a href="#"><i class="fab fa-youtube youtube-bg"></i></a>
                           </div>
                       </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                       <div class="footer-widget">
                           <div class="footer-widget-heading">
                               <h3>Useful Links</h3>
                           </div>
                           <ul>
                               <li><a href="/">Home</a></li>
                               <li><a href="/about">about</a></li>
                               <li><a href="#service">services</a></li>
                               <li><a href="#book">Appointment</a></li>
                               <li><a href="/contact">Contact</a></li>
                               <li><a href="#blogs">Blogposts</a></li>

                           </ul>
                       </div>
                   </div>
                   <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                       <div class="footer-widget">
                           <div class="footer-widget-heading">
                               <h3>Subscribe</h3>
                           </div>
                           <div class="footer-text mb-25">
                               <p>Dont miss to subscribe to our new feeds, kindly fill the form below.</p>
                           </div>
                           <div class="subscribe-form">
                               <form action="#">
                                   <input type="text" placeholder="Email Address">
                                   <button><i class="fab fa-telegram-plane"></i></button>
                               </form>

                           </div> 
                            <!-- btn css  -->
                           <div class="btn-row-1 ">
                               <a href="https://play.google.com/store/apps/details?id=com.ibis.saksham_homeopathy&hl=en_IN&gl=US">
                           <button type="button" class="btn btn-outline-dark android-btn ">
                               <div class="row-android-btn">
                               <span><img src="https://img.icons8.com/fluency/48/000000/google-play.png"/></span>
                               <p> GET IT ON <br><b style="color: #fff;">Google Play</b></p>
                           </div>
                           </button>
                       </a>
                           <button type="button" class="btn btn-outline-dark apple-store-btn"> 
                               <div class="row-apple-btn">
                                 <span>  <i class="fab fa-apple"></i></span>
                                   <p> GET IT ON  <br>  <b style="color: #fff;  padding-left:10px;">App Store</b> </p>
                               </div>
                           </button>
                       </div>

                       <!-- css -->
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="copyright-area">
           <div class="container">
               <div class="row justify-content-center">
                   <div class="col-xl-5 col-lg-5 text-center text-lg-left">
                       <div class="copyright-text">
                           <p>Copyright &copy; 2021, All Right Reserved <a href="#">Saksham Homoeopathy</a> <br> ISO<span> 9001:2015</span></p>
                       </div>
                   </div>
                   <div class="col-xl-5 col-lg-5 d-none d-lg-block text-right">
                       <div class="footer-menu">
                           <ul>
                               <li><a href="/">Home</a></li>
                               <li><a href="/about">About</a></li>
                               <li><a href="#book">Appointment</a></li>
                               <li><a href="/gallery">Gallery</a></li>
                               <li><a href="/contact">Contact</a></li>
                               
                           </ul>
                       </div>
                       
                   </div>
               </div>
              
           </div>
          
       </div>
   </footer>
    <div class="popup" id="login">
        <a href="#" class="popup__close">&times;</a>
        <div class="popup__content">
         
             <!-- SECTION- login form section -->
        <section class="section-login">
            <div class="container">
                <div class="row">
                    <div class="col  bg-green popup__left">
                        <div class="left-box">
                            <div class="left-box__text ">
                                <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique. -->
                            </div>
                        </div>
                    </div>
                    <div class="col bg-blue popup__right">
                       
                        <div class="right-box ">
                            <div class="right-box__top d-flex justify-content-end p-2">
                               .....
                            </div>
                            <div class="right-box__main p-5">
                                 <!-- SECTION - LOGIN -->
                                <form class="form3 login  " action="/login">
                                    <h4 class="heading u-margin-bottom-small"> Login</h4>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form__group">
                                                <input type="email" class="form__input" placeholder="Username"
                                                    id="email" required>
                                                <label for="email" class="form__label">Username</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form__group">
                                                <input type="password" class="form__input" placeholder="Password"
                                                    id="password" required>
                                                <label for="password" class="form__label">Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-5 pb-5">
                                        <div class="col-1-of-2">
                                            <div class="form__group ">
                                                <button class="btn  loginBtn" type="submit">Login &rarr;</button>
                                            </div>
                                        </div>
                                        <div class="col-1-of-2">
                                            <span>Not a member? <a href="#" class="changeClass" id="signupNow">Signup Now</a>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- OAuth Authentication -->
                                    <div class="container1">
                                        <!-- Text -->
                                        <div class="container1__content">
                                            <img src="https://img.icons8.com/color/48/000000/twitter--v2.png"/>
                                            <img src="https://img.icons8.com/fluency/48/000000/google-logo.png"/>
                                            <img src="https://img.icons8.com/color/48/000000/facebook-new.png"/>
                                        </div>

                                        <!-- Separator line -->
                                        <div class="container1__separator"></div>
                                    </div>

                                </form>
                                <!-- SECTION - SIGNUP -->
                                <form class="form3 signup hidden " action="/signup">
                                    <h6 class="heading u-margin-bottom-small "> Sign Up</h6>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form__group  u-margin-bottom-small">
                                                <input type="text" class="form__input" placeholder="Full Name" id="name"
                                                    required>
                                                <label for="name" class="form__label">Full Name</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form__group  u-margin-bottom-small">
                                                <input type="text" class="form__input" placeholder="Phone" id="name"
                                                    required>
                                                <label for="name" class="form__label">Phone</label>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col">
                                            <div class="form__group  u-margin-bottom-small">
                                                <input type="text" class="form__input" placeholder="dd/mm/yy" id="name"
                                                    required>
                                                <label for="name" class="form__label">DOB</label>
                                            </div>

                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <div class="col">
                                            <div class="form__group">
                                                <input type="email" class="form__input" placeholder="Username"
                                                    id="email" required>
                                                <label for="email" class="form__label">Username</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form__group">
                                                <input type="password" class="form__input" placeholder="Password"
                                                    id="password" required>
                                                <label for="password" class="form__label">Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-5 pb-5">
                                        <div class="col-1-of-2">
                                            <div class="form__group ">
                                                <button class="btn  loginBtn" type="submit">Signup &rarr;</button>
                                            </div>
                                        </div>
                                        <div class="col-1-of-2">
                                            <span>Already a member? <a href="#" class="changeClass" id="loginNow" >login Now</a>
                                            </span>
                                        </div>                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        </div>
    </div>

<section class="chatbot hidden">
    <div class="ChatWindow">
        <div class="ChatWindow-inner">
          
          <div class="ChatItem ChatItem--customer">
            <div class="ChatItem-meta">
              <div class="ChatItem-avatar">
                <img class="ChatItem-avatarImage" src="https://image.ibb.co/eTiXWa/avatarrobot.png">
              </div>
            </div>
            <div class="ChatItem-chatContent">
              <div class="ChatItem-chatText">Welcome to Saksham Homoeopathy! </div>
              <div class="ChatItem-timeStamp"><strong>Chat Bot</strong>  Today 05:49</div>
            </div>
          </div>
      
          <div class="ResponseCard js-responseCard" style="opacity: 0">
            <div class="ResponseCard-option js-responseOption">Hi there! I can help you with that? What kind of phone do you have?</div>
            <div class="ResponseCard-option js-responseOption">Ok, try turning your volume all the way up.</div>
            <div class="ResponseCard-option js-responseOption">Hey, how are you doing today?</div>
          </div>
        </div>
      </div>
</section>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/1744f3f671.js"></script>
    <!-- Gallery  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.8/swiper-bundle.min.js"></script>

  
    <script src="js/script.js"></script>
</body>

</html>